*{
    margin: 0;
    padding: 0;
}
.product-small-img img{
    height: 72px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.product-small-img img:hover{
    opacity: 1;
}
.product-small-img{
    float: left;
}
.product{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.product-big-img img{
    height: 320px;
}
.product-big-img{
    float: right;
    padding: 8px;
}